.filter-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    align-items: center;
}

.filter-image-grid__image-container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}