---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div>
  <tag-filter tags="{{ tags | dump }}" target="image-grid">
      {%- for tag in tags -%}
        <a data-tag="{{ tag | dump }}" href="/images/{{ tag.tag }}">
          {{ tag.tag }}({{ tag.count }})
        </a>
      {%- endfor -%}
  </tag-filter>

  <filtered-image-grid id="image-grid" data-filter="">
    {%- for image in featuredImages -%}
      <img alt="{{ image.alt }}" src="/img/{{ image.name }}" />
    {%- endfor -%}
  </filtered-image-grid>
</div>
